.criteriaSection {
  padding: 20px;
  border-radius: 20px;
  background-color: white;

  .header {
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.2s;

    .leftPart {
      display: flex;
      gap: 30px;

      .number {
        font-weight: 500;
        color: #104e47;
      }
    }

    span {
      font-weight: 600;
    }
  }

  &:hover {
    .action {
      transition: all ease-in-out 0.2s;
      transform: rotate(45deg);
    }
  }

  .active {
    transform: rotate(45deg);
  }

  .photo {
    img {
      width: 400px;
      border-radius: 15px;
    }
  }

  .expandedContent {
    display: flex;
    gap: 20px;
    width: 100%;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        color: #2c3e50;
        line-height: 1.5;
      }

      .votedList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        padding-top: 10px;
        gap: 10px;
        strong {
          display: block;
          margin-bottom: 10px;
          color: #2c3e50;
        }

        .votedItem {
          display: flex;
          padding: 6px 12px;
          background-color: transparent;
          border-radius: 20px;
          color: #104e47;
          font-weight: 500;
          border: 1px solid #104e47;
        }
      }

      .voteButton {
        padding: 10px 30px;
        background-color: #104e47;
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          background-color: #7da57f;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .expandedContent {
      flex-direction: column;
    }

    .photo {
      img {
        width: 100%;
        border-radius: 15px;
      }
    }

    .expandedContent {
      .info {
        gap: 30px;

        .votedList {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
